.details {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  /* margin-top: 1rem; */
}

.detailText {
  font-size: 0.875rem;
}

.refreshContainer {
  align-items: center;
  display: flex;
  /* margin-top: -1rem; */
}