.body {
  display: inline;
}

.blogHeading {
  margin-bottom: 0.25rem;
}

.authorDate {
  margin-bottom: 1rem;
}

.readMore {
  white-space: nowrap;
}

.post {
  margin-top: 3rem;
}

.post:first-of-type {
  margin: 0;
}