.default {
  color: var(--foreground);
  width: 20rem;
  padding-top: 2rem;
}

.withColor {
  composes: default;
  background-color: var(--background-translucent);
}

.launching::before {
  opacity: 1;
}

.divider {
  border-color: var(--foreground);
  border-width: 0.5px;
  margin: 0.5rem 0 0.5rem 1.25rem;
  width: 17.5rem;
  opacity: 0.2;
}