@keyframes first {
  0% {
    left: -10px;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  25% {
    left: calc(50% + 22px);
  }
  50% {
    left: calc(50% + 22px);
    
  }
  64% {
    opacity: 1;
  }
  69% {
    opacity: 0;
  }
  75% {
    left: calc(100% + 10px);
    
  }
  100% {
    left: calc(100% + 10px);
    
  }
}

@keyframes second {
  0% {
    left: -10px;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  25% {
    left: calc(50% + 11px);
  }
  50% {
    left: calc(50% + 11px);
  }
  64% {
    opacity: 1;
  }
  69% {
    opacity: 0;
  }
  75% {
    left: calc(100% + 10px);
    opacity: 1;
  }
  100% {
    left: calc(100% + 10px);
    opacity: 0;
  }
}

@keyframes third {
  0% {
    left: -10px;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  25% {
    left: 50%;
  }
  50% {
    left: 50%;
  }
  64% {
    opacity: 1;
  }
  69% {
    opacity: 0;
  }
  75% {
    left: calc(100% + 10px);
  }
  100% {
    left: calc(100% + 10px);
  }
}

@keyframes fourth {
  0% {
    left: -10px;
    opacity: 0;
  }
  5% {
    opacity: 1;;
  }
  25% {
    left: calc(50% - 11px);
  }
  50% {
    left: calc(50% - 11px);
  }
  64% {
    opacity: 1;
  }
  69% {
    opacity: 0;
  }
  75% {
    left: calc(100% + 10px);
  }
  100% {
    left: calc(100% + 10px);
  }
}

@keyframes fifth {
  0% {
    left: -10px;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  25% {
    left: calc(50% - 22px);
  }
  50% {
    left: calc(50% - 22px);
  }
  64% {
    opacity: 1;
  }
  69% {
    opacity: 0;
  }
  75% {
    left: calc(100% + 10px);
  }
  100% {
    left: calc(100% + 10px);
  }
}

.parent {
  bottom: 1rem;
  height: 0.5rem;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.notLoading { 
  display: none;
}

.child {
  background: var(--accent);
  border-radius: 100%;
  display: inline-block;
  height: 0.5rem;
  left: 0.625rem;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  width: 0.5rem;
}

.child:nth-child(1) {
  animation: first 3.5s infinite;
}

.child:nth-child(2) {
  animation: second 3.5s infinite;
  animation-delay: 0.1s;
}

.child:nth-child(3) {
  animation: third 3.5s infinite;
  animation-delay: 0.2s;
}

.child:nth-child(4) {
  animation: fourth 3.5s infinite;
  animation-delay: 0.4s;
}

.child:nth-child(5) {
  animation: fifth 3.5s infinite;
  animation-delay: 0.6s;
}