/* Shared styles */

.default {
  align-items: center;
  color: var(--foreground);
  composes: clearButton from '../../../index.css';
  display: flex;
  
  justify-content: center;
  
  -webkit-app-region: no-drag;
}

.default:hover {
  color: var(--foreground);
}

.minimize {
  composes: default;
}

.minimize::after {
  content: '\2013';
}

.maximize {
  composes: default;
}

.maximize::after {
  content: '\25fb';
}

.minimize:hover,
.maximize:hover {
  background-color: var(--highlight);
}

.close {
  composes: default;
}

.close::after {
  content: '\2715';
}

/* Windows specific additions */

.win-minimize {
  composes: minimize;
  height: 1.875rem;
  width: 2.875rem;
}

.win-maximize {
  composes: maximize;
  height: 1.875rem;
  width: 2.875rem;
}

.win-maximize:disabled {
  color: var(--foreground-translucent);
}

.win-maximize:hover:disabled {
  background-color: var(--background);;
}

.win-close {
  composes: close;
  height: 1.875rem;
  width: 2.875rem;
}

.win-close:hover {
  background-color: #d71526;
}

/* Linux specific additions */

.linux-minimize,
.linux-maximize,
.linux-close {
  background-color: var(--highlight);
  border-radius: 50%;
  color: var(--background);
  font-size: 0.8rem;
  margin-left: 0.25rem;
  margin-top: 0.5rem;
  height: 1.25rem;
  width: 1.25rem;
}

.linux-minimize {
  composes: minimize;
}

.linux-maximize {
  composes: maximize;
}

.linux-minimize:hover,
.linux-maximize:hover {
  background-color: var(--foreground-translucent);
}

.linux-close {
  background-color: #d71526;
  color: var(--background);
  composes: close;
  margin-right: 0.5rem;
}

.linux-close:hover {
  color: var(--foreground);
}