.profile {
  background: none;
  border: none;
  color: var(--foreground-color);
  /* display: none; */
  height: 0;
  line-height: 1.2rem;
  outline: none;
  overflow-wrap: break-word;
  overflow: hidden;
  padding: 0;
  resize: none;
  transition: height 0.5s ease-in-out;
  width: 100%;
}

.profileButtons {
  display: flex;
  justify-content: space-between;
}

.filePathsGroup {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.fileButtonSpinner {
  display: flex;
}

.filePathsGroupText {
  margin-top: 0.5rem;
}

.copyGroup {
  align-items: flex-start;
  display: flex;
}

.copied {
  display: flex;
  align-items: center;
  height: 50%;
  margin-left: 0.5rem;
  visibility: hidden;
}