.styledToggle {
  margin-right: 1rem;
}

.styledToggle.react-toggle .react-toggle-track {
  background: none;
  border: 2px solid var(--foreground-translucent);
  box-sizing: border-box;
  height: 1.3125rem;
  width: 2.75rem;
  /* background-color: #f00; */
  /* height: 50%;
  width: 50%; */
}

.styledToggle.react-toggle .react-toggle-thumb {
  background-color: var(--foreground-translucent);
  height: 0.6875rem;
  left: 0.3125rem;
  top: 0.3125rem;
  width: 0.6875rem;
}

.styledToggle.react-toggle--focus .react-toggle-thumb {
  box-shadow: 0px 0px 2px 3px var(--accent);
}

.styledToggle.react-toggle .react-toggle-checked .react-toggle-focus {
  box-shadow: 0px 0px 2px 3px var(--accent);
}

.styledToggle.react-toggle:hover .react-toggle-thumb {
  background-color: var(--foreground);
}

.styledToggle.react-toggle:hover .react-toggle-track {
  border-color: var(--foreground);
  background-color: transparent;
}

.styledToggle.react-toggle--checked .react-toggle-track {
  background-color: var(--accent);
  border-color: var(--accent);
}

.styledToggle.react-toggle--checked .react-toggle-thumb {
  border: none;
  background-color: var(--foreground);
  left: 1.8125rem;
  top: 0.3125rem;
}

.light .styledToggle.react-toggle--checked .react-toggle-thumb {
  background-color: #fff;
}

.styledToggle.react-toggle--checked:hover .react-toggle-track {
  background-color: var(--accent);
  border-color: var(--accent);
  opacity: 0.8;
}