:root {
  /* Dynamic Variables */
  --background: #000;
  --background-translucent: #0f0f0ffa;

  --foreground: #fff;
  --foreground-translucent: #ffffff80;

  --accent: #3faced;
  --accent-shade: #367abb;
  --border: #363636;
  --danger: #f00;
  --highlight: #ffffff33;
  --success: #54d035;
  --warning: #ff0;

  /* Dark Variables */
  --background-dark: #000;
  --background-translucent-dark: #1f1f1ffa;

  --foreground-dark: #fff;
  --foreground-translucent-dark: #ffffff80;

  --border-dark: #363636;
  --highlight-dark: #ffffff33;

  /* Light Variables */
  --background-light: #fff;
  --background-translucent-light: #e6e6e6fa;

  --foreground-light: #000;
  --foreground-translucent-light: #00000080;

  --border-dark: #5c5c5c;
  --highlight-light: #0000001b;
}

@keyframes push {
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

* {
  transition: background-color 0.5s ease-in;
  transition: color 0.5s ease-in;
  transition: outline 0.5s ease-in;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--foreground-translucent);
}

html {
  overflow: hidden;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
}

h3 {
  font-weight: normal;
  margin: 3rem 0 1rem;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

button {
  background: none;
  border: 2px solid var(--foreground);
  color: inherit;
  font: inherit;
  outline: inherit;
  padding: 0.35rem 1rem;
  white-space: nowrap;
}

button:hover {
  border-color: var(--accent);
  color: var(--accent);
}

button + button {
  margin-left: 1rem;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

a,
a:visited {
  color: var(--accent);
}

a:hover {
  color: var(--foreground);
}

.logo {
  display: block;
  height: auto;
  margin: 1rem 3.25rem 1.5rem;
  width: 13.5rem;
}

#free {
  fill: url(#b);
}

#so {
  fill: url(#a);
}

.accent #free,
.accent #so {
  fill: var(--accent);
}

.nonToggle {
  appearance: none;
  border: 2px solid var(--foreground-translucent);
  outline: none;
  height: 1.2rem;
  margin: 0;
  position: relative;
  vertical-align: text-bottom;
  width: 1.2rem;
}

.nonToggle:hover {
  border-color: var(--foreground);
}

.nonToggle:checked {
  border-color: var(--accent);
  background-color: var(--accent);
}

.nonToggle:checked:hover {
  border-color: var(--foreground);
}

.nonToggle:checked::after {
  content: '\2713';
  color: var(--foreground);
  left: 1px;
  position: absolute;
  top: -2px;
}

div.chrome-picker.picker {
  margin-top: 1rem;
  font-family: inherit !important;
}

.clearButton {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  outline: inherit;
  padding: 0;
}

.buttonLink {
  background: none;
  border: none;
  color: var(--accent);
  cursor: pointer;
  font: inherit;
  outline: inherit;
  padding: 0;
}

.buttonLink:hover {
  color: var(--foreground);
}

.firstHeading {
  margin-top: 0;
}

.subHeading {
  color: var(--accent);
  margin-top: -1rem;
  word-break: break-all;
}

.subText {
  margin-top: -1rem;
  word-break: break-all;
}

.emphasis {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.note {
  color: var(--accent);
  margin-top: 1rem;
}

.highlight {
  color: var(--accent);
}

.clearList {
  list-style: none;
  padding: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin-bottom: 3rem;
}

.link {
  margin-bottom: 0.5rem;
}

#tso-background {
  fill: var(--background);
}

.Dropdown-control {
  position: relative;
  width: 17.5rem;
}

.Dropdown-arrow-wrapper::after {
  content: '\02c5';
  /* background: url('./assets/images/arrow.svg'); */
  position: absolute;
  right: 0.1rem;
  top: 0.4rem;
  height: 20px;
  width: 20px;
}

.Dropdown-placeholder {
  border: 2px solid var(--foreground-translucent);
  margin-top: 0.5rem;
  padding: 0.25rem 0.6rem;
}

.Dropdown-placeholder:hover {
  border: 2px solid var(--foreground);
}

.Dropdown-disabled .Dropdown-placeholder:hover {
  border: 2px solid var(--foreground-translucent);
}

.is-open .Dropdown-control {
  visibility: hidden;
}

.Dropdown-menu {
  background-color: var(--background);
  border: 1px solid var(--border);
  box-sizing: border-box;
  margin-top: -1.875rem;
  padding: 0.5rem 0;
  width: 17.5rem;
}

.Dropdown-option {
  background-color: var(--background);
  padding: 0.4rem 0.6rem;
  margin-bottom: 0.2rem;
  position: relative;
}

.Dropdown-option:hover {
  background-color: var(--background-translucent);
}

.Dropdown-option.is-selected {
  background-color: var(--accent);
}

.Dropdown-option.is-selected:hover {
  background-color: var(--background-translucent);
  color: var(--accent);
}