.installGroup:first-child {
  margin-top: 0;
}

.installGroup {
  display: flex;
  margin-top: 3rem;
}

.installText {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin-right: 1rem;
}

.reinstallable {
  display: flex;
  flex: 1;
}

.reinstall {
  align-items: flex-start;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-left: 2rem;
  margin-top: -1rem;
}