.default {
  align-items: center;
  display: flex;
  padding: 1rem 1.25rem;
  position: relative;
}

.default::before {
  background-color: var(--accent);
  content: '';
  height: 1rem;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: opacity 0.4s ease-in-out;
  width: 4px;
}

.default:hover {
  background-color: var(--highlight);
}

.push {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.push:hover {
  animation-name: push;
  animation-duration: 0.3s;
}


.active {
  composes: default;
}

.active::before {
  opacity: 1;
}