.default {
  padding: 1rem;
  position: relative;
}

.default:hover {
  background-color: var(--highlight);
}

.push {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.push:hover {
  animation-name: push;
  animation-duration: 0.3s;
}


.active {
  composes: default;
}

.active:before {
  background-color: var(--accent);
  content: '';
  height: 1rem;
  left: 0;
  position: absolute;
  width: 4px;
}